# Over100MB_UsedLFS の巨大 ZIP だけ LFS を使う
GIS/MLITKSJ/Over100MB_UsedLFS/*.zip filter=lfs diff=lfs merge=lfs -text

# P20 ZIP は LFS を使わない（通常 Git）
GIS/MLITKSJ/OriginalZips/P20/*.zip -filter -diff -merge text
